body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: #f4f4f4;
	font-size: 15px;
	line-height: 1.5;
	font-family: Arial, Helvetice, sans-serif;
}

/*Global Styling*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

ul{
	margin: 0;
	padding: 0;
}

.btn-primary{
	border:none;
	background: #e8491d;
	color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
	height: 38px;
}

/*Header*/
header{
	background: #35424a;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #e8491d;
}

header #brand{
	float: left;

}

header #brand h1{
  margin:0;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	color: #FFFFFF;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	list-style: none;
	padding: 0 20px 0 20px;
}

header nav{
	float: right;
	margin-top: 10px;
}

header #brand .highlight, header nav li.active a{
	color:#e8491d;
  	font-weight:bold;
}

header a:hover{
  color:#cccccc;
}


/*Showcase*/
#showcase{
	min-height: 400px;
	background: url('img/showcase.jpg') no-repeat 0 -450px;
	text-align: center;
	color: #FFFFFF;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
  font-size:20px;
}

/*NewsLetter*/

#newsletter{
	background: #35424a;
	color: #FFFFFF;
	padding: 15px;
}

#newsletter h2{
	float: left;
}

#newsletter form{
	float: right;
	margin-top:15px;
}

#newsletter form input[type='email']{
	padding: 5px;
	height:25px;
    width:250px;
}

/*Boxes*/
#boxes{
	margin-top: 20px;
}

#boxes .box{
	width: 30%;
	float: left;
	text-align: center;
	padding: 10px;
}

#boxes .box img{
	width: 90px;
}

/*Page About*/
/*Main*/
#main{
	padding: 10px;
}

#main #main-col{
	float: left;
	width: 65%;
}

#main #sidebar{
	float: right;
	width: 30%;
	margin-top:10px;
}

#main #sidebar .quote input, #main #sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/*Services*/
ul#services li{
	list-style: none;
	padding: 20px;
	border: 1px solid #cccccc;
	background: #e6e6e6;
	margin-bottom: 5px;
}



/*Footer*/
footer{
	text-align: center;
	color: #FFFFFF;
	background: #e8491d;
	margin-top: 20px;
	padding: 20px;
}


/*Media Query*/
@media(max-width: 768px){
	header #brand,
	  header nav,
	  header nav li,
	  #newsletter h2,
	  #newsletter form,
	  #boxes .box,
	  #main #main-col,
	  #main #sidebar{
		    float:none;
		    text-align:center;
		    width:100%;
	 }

	 header{
	    padding-bottom:20px;
	  }

	  #showcase h1{
	    margin-top:40px;
	  }

	  #newsletter button, .quote button{
	    display:block;
	    width:100%;
	  }

	  #newsletter form input[type="email"], .quote input, .quote textarea{
	    width:100%;
	    margin-bottom:5px;
	  }

}